# GitHub Personal Access Token
GITHUB_TOKEN=your_github_token_here

# OpenAI Compatible API Setup (For docs repo discovery & description generation)
OPENAI_API_KEY=your_openai_api_key_here
OPENAI_BASE_URL=https://api.openai.com/v1
OPENAI_MODEL=gpt-4o-mini

# Server Port
# PORT=3000

# Minimum stars to auto-sync
# MIN_STARS=10000

# Blobless clone limit
# BLOB_LIMIT=100k

# Sync interval in milliseconds (default 7 days)
# SYNC_INTERVAL=604800000

# Repo refresh threhold in milliseconds (default 7 days)
# REPO_REFRESH_THRESHOLD=604800000

# Number of concurrent indexing processes
# SYNC_CONCURRENCY=8

# Path to store SQLite DB and repos
# DATA_PATH=./data

# Requests per minute limit
# RPM_LIMIT=60
